<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="map" default=""/>
  <arg name="use_sim_time" default="true"/>
  <include file="$(find-pkg-share roselito_navigation)/launch/localization.launch">
    <arg name="use_sim_time" value="$(var use_sim_time)"/>
    <arg name="path" value="$(var map)"/>
  </include>
  <include file="$(find-pkg-share nav2_bringup)/launch/navigation_launch.py">
    <arg name="params_file" value="$(find-pkg-share roselito_navigation)/config/nav2.yaml"/>
  </include>
</launch>
